body{margin: auto;
    background: white;}

.top {
    margin-top: 10px;
    height: 100px;
    width: 100%;
    position: fixed;
background-color: goldenrod;
transform: skewY(1deg);
}

.text {margin-top: 0;
margin-left: 10px;}

.s{height: 100px;
width: 100%;}

.b:LINK { color:white; text-decoration:none;
background-color: black;
border-radius: 10px;}
.b:VISITED { color:white; text-decoration:none }
.b:ACTIVE { color:white; text-decoration:underline }
.b:HOVER { color:black; text-decoration:none;
background-color: white;
border-radius: 10px;}
.b{padding: 5px;
    transform: skewY(0deg);}