/* ===== 雪を表示するコンテナのスタイル ===== */
.snow-container {margin: auto;
  }
  
  /* ===== 雪のスタイル ===== */
  .snow {
    background-color: #fff; /* 雪の色 */
    border-radius: 50%;
    position: absolute;
    animation: animate-snow 10s linear;
  }
  
  /* ===== 雪のアニメーション ===== */
  